<br />
<br />
<br />
<div class="site-footer">
    <!-- Copyright -->
    <div class="footer-bottom">
        <p>
            &copy; {{ site.time | date: '%Y' }} Javier Aparicio Ríos Foto. All
            rights reserved.<br />
            Photography services are available by appointment only.<br />
            <a href="/legal/">Legal</a> |
            <a href="/terms-and-conditions/">Terms and Conditions</a> |
            <a href="/privacy-policy/">Privacy Policy</a> |
            <a href="/sitemap.xml/">Sitemap</a>
        </p>
    </div>
</div>
