@font-face {
    font-family: "Roboto Mono";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/roboto_mono.woff") format("woff");
}

body {
    font-family: "Roboto Mono", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.content {
    margin-top: 120px;
    margin-left: 200px;
    padding: 20px;
    flex: 1;
    color: #666;
}

.text-content {
    width: 60%;
    margin: 0 0;
    color: #666;
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1001;
}

@media (max-width: 768px) {
    nav.sidebar {
        display: none;
    }

    .content {
        margin-top: 100px;
        margin-left: 0px;
        padding: 20px;
        flex: 1;
    }

    .text-content {
        width: 80%; /* Increase width on smaller screens */
    }

    div.site-footer {
        margin-left: 0px;
        padding: 20px;
        flex: 1;
    }

    div.aboutme {
        width: 90%;
    }

    div.contactme {
        width: 90%;
    }

    div.pricing-content {
        width: 90%;
    }

    .hamburger {
        display: block;
    }

    .mobile-menu {
        background-image: url("../images/javiAparicioFotoLogo.webp");
        background-color: #f8f8f8;
        background-repeat: no-repeat;
        background-position: center top 20px;
        background-size: auto; /* Adjust if needed */
        padding-top: 200px;
        padding-bottom: 40px;

        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 80%;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        transition: transform 0.3s ease;
        transform: translateX(100%);
        font-family: "Roboto Mono", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .mobile-menu.show {
        transform: translateX(0);
        display: grid;
    }

    .mobile-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .mobile-menu > ul > .menutitle {
        font-weight: bold;
    }

    .mobile-menu ul li {
        margin-bottom: 10px;
        padding-bottom: 20px;
        text-align: center;
    }

    .mobile-menu ul li a {
        text-decoration: none;
        font-family: "Roboto Mono", sans-serif;
        font-weight: 300;
        font-style: normal;
        color: #333;
    }

    ul.mobile-socials {
        list-style: none;
        justify-content: center;
        display: block;
    }

    li.mobile-socials_item {
        display: inline-block;
        padding: 20px;

        &:first-child {
            margin-left: 0;
        }
    }

    .mobile-socials_item_link {
        position: relative;
        display: block;
        border-radius: 100%;
        background: $text-light-color;
        font-size: 17px;
        line-height: 1;
        color: $background-color;

        @include mq(tabletp) {
            width: 35px;
            height: 35px;
            font-size: 20px;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            @include translate(-50%, -52%);
        }

        &:hover {
            background: $accent-color;
            color: $background-color;
        }
    }

    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .lightbox .fullscreen {
        display: none;
    }
}

.language_selector {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 8px;
}

.language_selector li {
    display: inline-block;
}

.language_selector li:not(:last-child)::after {
    content: "|";
    margin-left: 8px;
    color: #000;
}

.language_selector a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.language_selector a:hover {
    color: #007bff;
}

