/* Footer Styles */
.site-footer {
    margin-left: 200px;
    background: #ffffff;
    color: white;
    padding: 20px 0;
    font-size: 0.9rem;
    line-height: 1.6;
}

.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background: #abb7b7;
    color: #333333;
    font-size: 0.8rem;
    margin-top: 20px;
}
