<html lang="en">
    <head>
	<!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-3DDRTLKX82"></script>
        <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-3DDRTLKX82');
        </script>
        <meta charset="utf-8" />
        <meta http-equiv="refresh" content="0;url={{ page.target }}" />
        <link rel="canonical" href="{{ page.target }}" />
        <title>Redirecting</title>
        {% seo %}
    </head>
    <body>
        <p>
            Document has moved, if you aren't automatically redirected
            <a href="{{ page.target }}">go here</a>.
        </p>
    </body>
</html>
